<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      const ROOM_ID = window.location.pathname.split("/").pop();
    </script>
    <script src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/css/notas.css" type="text/css" rel="stylesheet" />
    <style>
      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
        margin-top: 8rem;
        column-gap: 1rem;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        border: 3px solid black;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/inicio">TaskFlow</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            style="background: #7264a5; font-family: 'Archivo', sans-serif"
            id="offcanvasDarkNavbar"
          >
            <div class="offcanvas-header">
              <h5
                class="offcanvas-title"
                id="offcanvasDarkNavbarLabel"
                style="color: #ffffff; font-family: 'Archivo', sans-serif"
              >
                Menú
              </h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Tareas
                  </a>
                  <ul
                    class="dropdown-menu"
                    style="
                      background: #7264a5;
                      font-family: 'Archivo', sans-serif;
                    "
                  >
                    <li>
                      <a class="dropdown-item" href="/tareas">Tareas</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/seccion-tarea"
                        >Organizar tareas</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/notas"
                    >Notas</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="/cronograma"
                    >Calendario</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="/videollamada"
                    >Videollamada</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/login"
                    >Sign in</a
                  >
                </li>
              </ul>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login"
                  >Log out</a
                >
              </li>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <div class="row" id="row">
        <div id="video-grid"></div>
      </div>

      <div class="d-flex flex-column gap-2 mt-4" style="max-width: 500px">
        <button class="btn btn-primary" id="startCall">Crear llamada</button>
        <form id="form" class="d-flex gap-2">
          <input
            class="form-control"
            type="text"
            placeholder="Ingresar codigo de sala"
            id="inputRoomId"
          />
          <input class="btn btn-success" type="submit" value="Unirse a sala" />
        </form>

        <!-- <button class="btn btn-danger" id="endCall">Terminar llamada</button> -->
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="/JS/script2.js" defer></script>
    <!-- <script src="/JS/script.js" defer></script> -->
  </body>
</html>
