<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/tareas.css" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/yeti/bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/inicio">TaskFlow</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end"
            style="background: #7264a5; font-family: 'Archivo', sans-serif"
            id="offcanvasDarkNavbar"
          >
            <div class="offcanvas-header">
              <h5
                class="offcanvas-title"
                id="offcanvasDarkNavbarLabel"
                style="color: #ffffff; font-family: 'Archivo', sans-serif"
              >
                Menú
              </h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Tareas
                  </a>
                  <ul
                    class="dropdown-menu"
                    style="
                      background: #7264a5;
                      font-family: 'Archivo', sans-serif;
                    "
                  >
                    <li>
                      <a class="dropdown-item" href="/tareas">Tareas</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/seccion-tarea"
                        >Organizar tareas</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/notas"
                    >Notas</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="/cronograma"
                    >Calendario</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="/videollamada"
                    >Videollamada</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/login"
                    >Sign in</a
                  >
                </li>
              </ul>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login"
                  >Log out</a
                >
              </li>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container p-4">
        <div class="row">
          <div class="col-md-4" style="padding-top: 100px">
            <div class="card">
              <div class="card-body">
                <h1 class="h4">Crear Tareas</h1>
                <form id="task-form">
                  <label for="title">Título de tarea:</label>
                  <input
                    class="form-control mb-3"
                    type="text"
                    placeholder="Título de Tarea"
                    id="task-title"
                  />

                  <label for="description">Descripción:</label>
                  <textarea
                    class="form-control mb-3"
                    id="task-description"
                    rows="3"
                    placeholder="Descripción"
                  ></textarea>

                  <button class="btn btn-primary" id="btn-task-save">
                    Guardar
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div
            class="col-md-4"
            id="tasks-container"
            style="padding-top: 90px"
          ></div>
        </div>
      </div>
    </main>
    <script type="module" src="/JS/tareas.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
