.container-fluid {
  background: #7264a5;
  color: black;
  padding: 15px;
  font-family: 'Archivo', sans-serif
}

.container-fluid a {
  color: #ffffff;
  font-weight: bold;
}

.card-body h1 {
  font-weight: bold;
}

.card label {
  font-size: 17px;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', sans-serif;

  height: 100vh;
  background-color: #eeebf9;
}

.task-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  margin-top: 150px;
}

.task-container h2{
  font-weight: bold;
}

.task-list {
  float: left;
  width: 30%;
  margin: 0 2%;
  box-sizing: border-box;
  padding-top: 20px;
}

.task-list h3 {
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.task-list-items {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  min-height: 100px;
  border: 2px dashed #ddd;
  border-radius: 8px;
}

.task-list-items li {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-list-items li:hover {
  background-color: #f8f8f8;
}

.task-input {
  clear: both;
  margin-top: 20px;
}

.task-input input {
  width: 70%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.add-button {
  width: 28%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #82c3a8;
  color: white;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #45a049;
}